
.employee-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px #2b2a2a;
}

.employee-card>button{
    padding: 0.3rem 1rem;
    border-radius: 0.625rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #b62323;
    width: 80%;
    align-self: center;
}

@media screen and (max-width: 472.5px){
    .employee-card>button{
        width: 100%;
    }
}
